<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MogulReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="CircleMagnification" value="500"/>
    <add key="LineMagnification" value="1000"/>
  </appSettings>
  <userSettings>
    <MogulReport.Properties.Settings>
      <setting name="LineAxis" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LineFilterWaveLength" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="LineMaskedPoints" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CircleMaskedPoints" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Modified Title</value>
      </setting>
      <setting name="CircleEvaluationMethod" serializeAs="String">
        <value>MIC</value>
      </setting>
    </MogulReport.Properties.Settings>
  </userSettings>
</configuration>
